<template>
  <div id="active-scripts">
    <div class="header">
      <div class="text">Active Scripts</div>
      <div class="count">{{ Object.keys(scripts).length }}</div>
    </div>

    <div class="inner-content">
      <div class="script-card" v-for="(script, key) in scripts" :key="key">
        <div class="text">PID: {{ script.pid }}</div>
        <div class="text">Folder: {{ script.name }}</div>
        <div class="btn-wrapper">
          <b-button
            variant="outline-primary"
            class="btn-open mt-1"
            v-b-modal.selected-script-modal
            @click="selectedScriptPid = script.pid"
            >Open<b-icon icon="arrows-angle-expand" class="ml-2"></b-icon
          ></b-button>
        </div>
      </div>
    </div>

    <b-modal
      id="selected-script-modal"
      title="Command Logs"
      scrollable
      size="lg"
      no-close-on-backdrop
      cancel-title="Close"
      ok-title="End Process"
      @ok="handleEndProcess()"
    >
      <div class="inner-content" v-if="selectedScriptPid !== null">
        <p v-for="(text, key) in scripts[selectedScriptPid].output" :key="key">
          {{ text }}
          <br />
        </p>
      </div>

      <div v-else>No logs found</div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
const { exec } = require("child_process");
export default {
  name: "ActiveScripts",
  props: {},
  data() {
    return {
      searchKey: "",
      selectedScriptPid: null,
    };
  },
  mounted() {},
  computed: {
    // ...mapGetters("Script", { scripts: "projectScriptList" }),
    scripts: function () {
      if (this.searchKey) {
        return Object.values(
          this.$store.state.Script.projectScripts
        ).filter((item) =>
          item.name.toLowerCase().includes(this.searchKey.toLowerCase())
        );
      } else {
        return this.$store.state.Script.activeGScripts;
      }
    },
  },
  watch: {},
  methods: {
    ...mapActions("Script", ["deleteActiveGlobalScript"]),
    /**
     * Kills the process
     */
    handleEndProcess() {
      exec("taskkill /PID " + this.selectedScriptPid + " /T /F", function (
        error,
        stdout,
        stderr
      ) {
        // console.log('stdout: ' + stdout);
        // console.log('stderr: ' + stderr);
        if (error !== null) {
          this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
            title: "Process Info",
            toaster: "b-toaster-bottom-center",
            solid: true,
            variant: "info",
            appendToast: false,
          });
        }
      });

      this.$bvToast.toast(`Process ended!`, {
        title: "Process Info",
        toaster: "b-toaster-bottom-center",
        solid: true,
        variant: "info",
        appendToast: false,
      });

      this.deleteActiveGlobalScript(this.selectedScriptPid);
      this.selectedScriptPid = null;
    },
  },
};
</script>

<style lang="scss" scoped>
#active-scripts {
  margin-left: 1rem;
  height: 100%;
  width: 300px;
  background: #fdfefe;
  border-radius: 10px;
  padding: 1rem 1rem;
  .header {
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 40px;
    .count {
      margin-left: 1rem;
      padding: 5px 15px;
      background: #3587f2;
      border-radius: 20px;
      font-weight: 300;
      font-size: 0.8em;

      color: white;
    }
  }
  .inner-content {
    max-height: calc(100% - 40px);
    margin: 0 !important;
    overflow-y: scroll;
    padding: 1rem 5px;
    .script-card {
      margin-top: 1rem;
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   background: #fff;
      border-radius: 10px;
      border: 1px solid #e9ebef;
      padding: 1rem;
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      }
    }

    .btn-wrapper {
      //   margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  #selected-script-modal {
    .inner-content {
      padding: 1rem;
    }
  }
}
</style>