<template>
  <div id="create-modal"></div>
</template>

<script>
export default {
  name: "CreateProjectModal",
  props: {},
  data() {
    return {
      showModal: true,
    };
  },
  mounted() {},
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>