<template>
  <div class="project-card col-sm-12 col-lg-6">
    <div class="inner-content">
      <div class="action-container">
        <div class="btn-delete" @click="deleteProject(data.id)">
          <b-icon icon="trash" scale="1.2"></b-icon>
        </div>
      </div>
      <div class="name-text">
        {{ data.name }}
        <b-badge
          variant="success"
          class="framework-badge"
          v-if="data.framework"
          @click.prevent
          >{{ `${data.framework} detected` }}</b-badge
        >
      </div>
      <b-input-group prepend="Path" class="mt-4">
        <b-form-input :value="data.path" disabled></b-form-input>
      </b-input-group>
      <div class="btn-wrapper">
        <b-button
          variant="outline-info"
          class="mt-4 mr-2 btn-open"
          @click="openFolderInCommandline()"
        >
          Window Terminal
          <b-icon icon="box-arrow-up-right" class="ml-1"></b-icon
        ></b-button>

        <b-button
          variant="outline-primary"
          class="mt-4 btn-open"
          @click="openFolderInEditor()"
          >Editor <b-icon icon="box-arrow-up-right" class="ml-1"></b-icon
        ></b-button>
      </div>

      <div class="framework-btn-wrapper" v-if="data.framework">
        <div class="text">Because {{ data.framework }} was detected:</div>
        <b-button
          variant="outline-success"
          class="btn-open"
          @click="serveProject()"
          >Serve <b-icon icon="power" class="ml-1"></b-icon
        ></b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
const { exec, spawn } = require("child_process");
const fs = require("fs");
export default {
  name: "ProjectCard",
  props: {
    data: {
      type: [Object],
      default: () => {},
    },
  },
  data() {
    return {
      serveProjectOutputData: [],
    };
  },
  mounted() {},
  computed: {
    ...mapState("Setting", ["settings"]),
  },
  methods: {
    ...mapActions("Script", ["addProjectScript", "updateProjectScriptOutput"]),
    ...mapActions("Project", ["deleteProject"]),
    /**
     * Detect whether a frontend framework is being used in folder
     *
     * TODO:: detect not only vue
     */
    detectFramework() {
      // Set path to package.json file
      const path = `${this.data.path}/package.json`;

      // Is a package.json file in folder?
      if (fs.existsSync(path)) {
        // Get package json file
        let packageData = JSON.parse(fs.readFileSync(path));

        // Is vue in package dependencies ?
        if (Object.keys(packageData.dependencies).includes("vue")) {
          return "vue";
        }
      }

      return "";
    },
    /**
     * Opens project folder in user's preferred editor
     */
    openFolderInEditor() {
      let command = "";

      if (this.settings.ide === "vscode") {
        command = `code -n "${this.data.path}"`;
      } else {
        command = `atom -n "${this.data.path}"`;
      }
      exec(command, (error, stdout, stderr) => {
        if (error) {
          console.log(error.message);
          this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
            title: "Process Info",
            toaster: "b-toaster-bottom-center",
            solid: true,
            variant: "info",
            appendToast: false,
          });
        }
      });
    },
    /**
     * Opens project folder in user's powershell/commandline
     */
    openFolderInCommandline() {
      let command = "";

      if (this.settings.terminal === "wt") {
        command = `wt -d "${this.data.path}"`;
      } else {
        command = `start cd "${this.data.path}"`;
      }
      exec(command, (error, stdout, stderr) => {
        if (error) {
          this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
            title: "Process Info",
            toaster: "b-toaster-bottom-center",
            solid: true,
            variant: "info",
            appendToast: false,
          });
        }
      });
    },

    /**
     * Execute command to serves project in browser base on suer preferred package manager
     *
     *
     */

    serveProject() {
      let args = [];
      if (this.settings.node_package_manager === "yarn") {
        args = ["serve"];
      } else {
        args = ["run", "serve"];
      }

      const cmd = spawn(
        `${this.settings.node_package_manager}.cmd`,
        [...args],
        {
          cwd: `${this.data.path}`,
        }
      );
      let scriptData = {
        pid: cmd.pid,
        folderName: this.data.name,
        // process: cmd,
        output: [],
      };
      this.addProjectScript(scriptData);
      cmd.stdout.on("data", (data) => {
        // console.log(`stdout: ${data}`);
        this.updateProjectScriptOutput({
          pid: cmd.pid,
          output: data.toString("utf8"),
        });
      });
      cmd.stderr.on("data", (data) => {
        // console.error(`stderr: ${data}`);
        this.updateProjectScriptOutput({
          pid: cmd.pid,
          output: data.toString("utf8"),
        });
      });
      this.$bvToast.toast(`Serving Project!`, {
        title: "Process Info",
        toaster: "b-toaster-bottom-center",
        solid: true,
        variant: "info",
        appendToast: false,
      });
      // let scriptData = {
      //   pid: "test1",
      //   folderName: "tesst",
      //   process: "oops",
      //   output: [],
      // };
      // this.addProjectScript(scriptData);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
.project-card {
  // cursor: pointer;
  margin: 1rem 0;
  background: #fff;
  // padding: 0 1rem;
  padding: 0 1rem 0 0 !important;

  .inner-content {
    position: relative;
    border-radius: 10px;
    padding: 1rem 1rem;
    border: 1px solid #e9ebef;

    .framework-badge {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 0.8em;
      color: #fff;
    }

    .framework-btn-wrapper {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        color: #000;
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: flex-end;

      .btn-open {
        display: flex;
        align-items: center;
      }
    }
    .action-container {
      // position: absolute;
      // right: 0;
      display: flex;
      justify-content: flex-end;

      .btn-delete {
        cursor: pointer;

        &:hover {
          color: #dc3545;
        }
      }
    }
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
}
</style>