<template>
  <div class="project-card col-sm-12 col-lg-6">
    <div class="inner-content">
      <div class="action-container">
        <div class="btn-delete" @click="deleteGlobalScript(data.id)">
          <b-icon icon="trash" scale="1.2"></b-icon>
        </div>
      </div>
      <div class="name-text">
        {{ data.name }}
      </div>
      <b-input-group prepend="Command" class="mt-4">
        <b-form-input :value="data.command" disabled></b-form-input>
      </b-input-group>
      <div class="btn-wrapper">
        <b-button
          variant="outline-primary"
          class="btn-run mt-4"
          @click="runScript()"
          >Run <b-icon icon="power" class="ml-1"></b-icon
        ></b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
const { exec, spawn } = require("child_process");
const fs = require("fs");
export default {
  name: "ScripttCard",
  props: {
    data: {
      type: [Object],
      default: () => {},
    },
  },
  data() {
    return {
      serveProjectOutputData: [],
    };
  },
  mounted() {},
  methods: {
    ...mapActions("Script", [
      "addActiveGlobalScript",
      "updateActiveGlobalScriptOutput",
      "deleteGlobalScript",
    ]),

    /**
     * Execute command
     *
     */

    runScript() {
      // let command = `"${this.data.path}" && yarn serve`;
      // let path = "C:\\Users\\josep\\Desktop";
      // console.log(path);

      // Split command string into array
      let cmdArray = this.data.command.split(" ");

      // Get main command
      let mainCmd = `${cmdArray[0]}.cmd`;

      // Return a new array base on cmdArray (remove first element in array)
      let argsArray = cmdArray.filter((item, index) => index !== 0);

      const cmd = spawn(mainCmd, [...argsArray]);
      let scriptData = {
        pid: cmd.pid,
        name: this.data.name,
        output: [],
      };
      this.addActiveGlobalScript(scriptData);
      cmd.stdout.on("data", (data) => {
        this.updateActiveGlobalScriptOutput({
          pid: cmd.pid,
          output: data.toString("utf8"),
        });
      });
      cmd.stderr.on("data", (data) => {
        // console.error(`stderr: ${data}`);
        this.updateActiveGlobalScriptOutput({
          pid: cmd.pid,
          output: data.toString("utf8"),
        });
      });
      this.$bvToast.toast(`Running Script!`, {
        title: "Process Info",
        toaster: "b-toaster-bottom-center",
        solid: true,
        variant: "info",
        appendToast: false,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
.project-card {
  // cursor: pointer;
  margin: 1rem 0;
  background: #fff;
  // padding: 0 1rem;
  padding: 0 1rem 0 0 !important;

  .inner-content {
    position: relative;
    border-radius: 10px;
    padding: 1rem 1rem;
    border: 1px solid #e9ebef;

    .framework-badge {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 0.8em;
      color: #fff;
    }

    .framework-btn-wrapper {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        color: #000;
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: flex-end;

      .btn-open {
        display: flex;
        align-items: center;
      }
    }
    .action-container {
      // position: absolute;
      // right: 0;
      display: flex;
      justify-content: flex-end;

      .btn-delete {
        cursor: pointer;

        &:hover {
          color: #dc3545;
        }
      }
    }
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
}
</style>