<template>
  <div id="side-nav" class="shadow-sm">
    <div class="nav-container">
      <div
        class="item-wrapper"
        v-for="({ icon, name, routeName }, index) in navData"
        :key="index"
        @click="
          () => {
            $route.name !== routeName ? $router.push({ name: routeName }) : '';
          }
        "
      >
        <div
          class="icon-wrapper"
          :class="[{ shadow: $route.name === routeName }]"
          :style="[
            { color: $route.name === routeName ? '#3587F2' : '#D1D2D6' },
            { background: $route.name === routeName ? '#fdfefe' : '' },
          ]"
        >
          <b-icon :icon="icon" font-scale="2"></b-icon>
        </div>
        <div
          class="nav-text"
          :style="[{ display: $route.name === routeName ? 'block' : '' }]"
        >
          {{ name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideNav",
  data() {
    return {
      navData: [
        {
          icon: "folder-fill",
          name: "Projects",
          routeName: "Projects",
        },
        {
          icon: "code-slash",
          name: "Scripts",
          routeName: "Scripts",
        },
        {
          icon: "gear-fill",
          name: "Settings",
          routeName: "Settings",
        },
      ],
      hoverItemIndex: null,
    };
  },
  mounted() {},
};
</script>

<style lang="scss">
#side-nav {
  height: 100%;
  width: 150px;
  background: #e9ebef;

  .nav-container {
    margin: 100px auto 0 auto;
    width: 100px;
    // background: red;

    .item-wrapper {
      user-select: none;
      cursor: pointer;
      margin-top: 1.5rem;
      width: 100%;
      text-align: center;
      .icon-wrapper {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: red;
        border-radius: 10px;

        &:hover {
          background: #fdfefe;
          color: #3587f2;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
      }

      .nav-text {
        display: none;
        margin-top: 10px;
      }

      &:hover {
        .nav-text {
          display: block;
        }
      }
    }
  }
}
</style>