<template>
  <div id="projects">
    <!-- APP BAR -->
    <div class="app-bar shadow-sm">
      <div class="page-title-container">Projects</div>
      <div class="right-container">
        <div class="searchbar-wrapper">
          <b-form-input
            id="searchbar"
            v-model="searchKey"
            type="text"
            placeholder="Search for project"
          ></b-form-input>
        </div>

        <div class="btn-wrapper shadow" v-b-modal.add-project-modal>
          <b-icon icon="folder-plus" scale="1.5"></b-icon>
        </div>
      </div>
    </div>

    <!-- PAGE CONTENT CONTAINER -->
    <div id="page-content-container">
      <!-- PROJECT LIST CONTAINER -->
      <div id="project-list-container" class="shadow-sm">
        <div class="header">
          <div class="text">Project List</div>
          <div class="count">{{ projects.length }}</div>
        </div>

        <div class="inner-content-container row">
          <project-card
            v-for="(project, index) in projects"
            :key="index"
            :data="project"
          ></project-card>
        </div>
      </div>

      <!-- ACTIVE SCRIPTS CONTAINER -->
      <!-- <div id="active-scripts-container" class="shadow-sm">
        <div class="header-text">Active Scripts</div>
      </div> -->
      <project-active-scripts></project-active-scripts>
    </div>

    <!-- CREATE PROJECT MODAL -->
    <b-modal
      id="add-project-modal"
      title="Add Project Folder"
      no-close-on-backdrop
      ok-title="Add Project"
      @ok="handleProjectCreation"
      @cancel="clearModalData()"
      @close="clearModalData()"
      :ok-disabled="isProcessing"
    >
      <b-input-group prepend="Name" class="mt-3">
        <b-form-input
          v-model="addProjectModal.name"
          disabled
          placeholder="Name will be generated automatically"
        ></b-form-input>
      </b-input-group>
      <b-input-group prepend="Folder" class="mt-3">
        <b-form-file
          v-model="addProjectModal.folder"
          placeholder="Choose a folder or drop it here"
          drop-placeholder="Drop file here"
          webkitdirectory
          directory
          @change="handleFolderSelection"
        ></b-form-file>
      </b-input-group>
      <!-- <template #footer>M<template> -->
    </b-modal>
  </div>
</template>

<script>
import CreateProjectModal from "@/components/CreateProjectModal.vue";
import ProjectActiveScripts from "@/components/ProjectActiveScripts.vue";
import ProjectCard from "@/components/ProjectCard.vue";
import { mapActions, mapState } from "vuex";
const fs = require("fs");
import { nanoid } from "nanoid";

// const { exec } = require("child_process");

export default {
  name: "Projects",
  components: {
    CreateProjectModal,
    ProjectCard,
    ProjectActiveScripts,
  },
  data() {
    return {
      searchKey: "",
      modalState: false,
      addProjectModal: {
        name: "",
        folder: [],
        path: "",
      },
      isProcessing: false,
    };
  },
  computed: {
    // ...mapState("Project", ["projects"]),
    projects: function () {
      if (this.searchKey) {
        return this.$store.state.Project.projects.filter((item) =>
          item.name.toLowerCase().includes(this.searchKey.toLowerCase())
        );
      } else {
        return this.$store.state.Project.projects;
      }
    },
  },
  mounted() {},
  methods: {
    ...mapActions("Project", ["addProject"]),

    /**
     * Get list of projects
     */
    getProjects() {
      let commandScript = `vue ui`;
      this.process = exec(commandScript, (error, stdout, stderr) => {
        if (error) {
          // console.log(error.message);
          this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
            title: "Process Info",
            toaster: "b-toaster-bottom-center",
            solid: true,
            variant: "info",
            appendToast: false,
          });
        }
      });
    },
    /**
     * Detect whether a frontend framework is being used in folder
     *
     * TODO:: detect not only vue
     */
    detectFramework(path) {
      // Set path to package.json file
      const packagePath = `${path}/package.json`;

      // Is a package.json file in folder?
      if (fs.existsSync(packagePath)) {
        // Get package json file
        let packageData = JSON.parse(fs.readFileSync(packagePath));

        // Does package.json contain dependencies
        if (packageData.hasOwnProperty("dependencies")) {
          // Is vue in package dependencies ?
          if (Object.keys(packageData.dependencies).includes("vue")) {
            return "vue";
          }

          return "";
        }

        return "";
      }

      return "";
    },
    /**
     *  Gets the folder path and name
     */
    handleFolderSelection(e) {
      const path = e.target.files[0].path;
      this.addProjectModal.name = e.target.files[0].name;
      this.addProjectModal.path = path;
    },
    /**
     * Add folder to project list
     */
    handleProjectCreation(e) {
      if (this.isProcessing) return;

      e.preventDefault();
      this.isProcessing = true;

      // Validate data

      // Is folder path set
      if (!this.addProjectModal.path) {
        this.isProcessing = false;
        return;
      }

      try {
        this.addProject({
          id: nanoid(),
          name: this.addProjectModal.name,
          framework: this.detectFramework(this.addProjectModal.path),
          path: this.addProjectModal.path,
        });
      } catch (error) {
        // console.log(error);
        this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
          title: "Process Info",
          toaster: "b-toaster-bottom-center",
          solid: true,
          variant: "info",
          appendToast: false,
        });
        this.isProcessing = false;
        return;
      }

      this.$bvToast.toast(`Project folder added!`, {
        title: "Process Info",
        toaster: "b-toaster-bottom-center",
        solid: true,
        variant: "success",
        appendToast: false,
      });

      // Clear all input data
      this.addProjectModal.path = "";
      this.addProjectModal.folder = [];
      this.addProjectModal.name = "";

      this.$nextTick(() => {
        this.isProcessing = false;
        this.$bvModal.hide("add-project-modal");
      });
    },

    /**
     * Clear all input data
     */
    clearModalData() {
      this.addProjectModal.path = "";
      this.addProjectModal.folder = [];
      this.addProjectModal.name = "";
    },
  },
};
</script>

<style lang="scss" scoped>
#projects {
  padding: 1rem 1rem;
  .app-bar {
    width: 100%;
    height: 70px;
    background: #fdfefe;
    padding: 0 1rem;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    .page-title-container {
      font-size: 2em;
      font-weight: 300;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .right-container {
      display: flex;
      align-items: center;
      .searchbar-wrapper {
        margin-right: 2rem;
        width: 300px;
        #searchbar {
          height: 40px;
          font-weight: 300;
        }
      }

      .btn-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 45px;
        width: 45px;
        background: #3587f2;
        border-radius: 50%;

        &:hover {
          background: #385da6;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  #page-content-container {
    display: flex;
    margin-top: 2rem;
    height: calc(100vh - (70px + 4rem));
    // width: 100%;
    padding: 0 1rem;
    #project-list-container {
      height: 100%;
      width: calc(100% - 300px);
      background: #fdfefe;
      border-radius: 10px;
      padding: 1rem 2rem;
      .header {
        display: flex;
        align-items: center;
        font-weight: 500;
        height: 40px;
        .count {
          margin-left: 1rem;
          padding: 5px 15px;
          background: #3587f2;
          border-radius: 20px;
          font-weight: 300;
          font-size: 0.8em;

          color: white;
        }
      }

      .inner-content-container {
        max-height: calc(100% - 40px);
        margin: 0 !important;
        overflow-y: scroll;
      }
    }

    // #active-scripts-container {
    //   margin-left: 1rem;
    //   height: 100%;
    //   width: 300px;
    //   background: #fdfefe;
    //   border-radius: 10px;
    //   padding: 1rem 2rem;
    //   .header-text {
    //     font-weight: 500;
    //   }
    // }
  }
}
</style>