<template>
  <div id="scripts">
    <!-- APP BAR -->
    <div class="app-bar shadow-sm">
      <div class="page-title-container">Scripts</div>
      <div class="right-container">
        <div class="searchbar-wrapper">
          <b-form-input
            id="searchbar"
            v-model="searchKey"
            type="text"
            placeholder="Search for script"
          ></b-form-input>
        </div>

        <div class="btn-wrapper shadow" v-b-modal.add-script-modal>
          <b-icon icon="file-earmark-plus" scale="1.5"></b-icon>
        </div>
      </div>
    </div>

    <!-- PAGE CONTENT CONTAINER -->
    <div id="page-content-container">
      <!-- SCRIPT LIST CONTAINER -->
      <div id="script-list-container" class="shadow-sm">
        <div class="header">
          <div class="text">Script List</div>
          <div class="count">{{ scripts.length }}</div>
        </div>

        <div class="inner-content-container row">
          <script-card
            v-for="(script, index) in scripts"
            :key="index"
            :data="script"
          ></script-card>
        </div>
      </div>

      <!-- ACTIVE SCRIPTS CONTAINER -->

      <active-scripts></active-scripts>
    </div>

    <!-- CREATE SCRIPT MODAL -->
    <b-modal
      id="add-script-modal"
      title="Add Script"
      no-close-on-backdrop
      ok-title="Add Script"
      @ok="handleScriptCreation"
      @cancel="clearModalData()"
      @close="clearModalData()"
      :ok-disabled="isProcessing"
    >
      <b-input-group prepend="Name" class="mt-3">
        <b-form-input
          v-model="addScriptModal.name"
          placeholder="Enter Script Name"
        ></b-form-input>
      </b-input-group>
      <b-input-group prepend="Command" class="mt-3">
        <b-form-input
          v-model="addScriptModal.command"
          placeholder="Enter Script Command"
        ></b-form-input>
      </b-input-group>
      <!-- <template #footer>M<template> -->
    </b-modal>
  </div>
</template>

<script>
import { nanoid } from "nanoid";
import { mapActions } from "vuex";

import ScriptCard from "@/components/ScriptCard.vue";
import ActiveScripts from "@/components/ActiveScripts.vue";
export default {
  name: "Scripts",
  components: {
    ScriptCard,
    ActiveScripts,
  },
  data() {
    return {
      searchKey: "",
      addScriptModal: {
        name: "",
        command: "",
      },
      isProcessing: false,
    };
  },
  mounted() {},
  computed: {
    scripts: function () {
      if (this.searchKey) {
        return this.$store.state.Script.globalScripts.filter((item) =>
          item.name.toLowerCase().includes(this.searchKey.toLowerCase())
        );
      } else {
        return this.$store.state.Script.globalScripts;
      }
    },
  },

  methods: {
    ...mapActions("Script", ["addGlobalScript"]),
    /**
     * Add script to script list
     */
    handleScriptCreation(e) {
      if (this.isProcessing) return;
      e.preventDefault();
      this.isProcessing = true;
      // Validate data

      // Is folder path set
      if (!this.addScriptModal.name || !this.addScriptModal.command) {
        this.isProcessing = false;
        return;
      }

      try {
        this.addGlobalScript({
          id: nanoid(),
          name: this.addScriptModal.name,
          command: this.addScriptModal.command,
        });
      } catch (error) {
        console.log(error);
        this.$bvToast.toast(`OOPS! something went wrong.Please try again.`, {
          title: "Process Info",
          toaster: "b-toaster-bottom-center",
          solid: true,
          variant: "info",
          appendToast: false,
        });
        this.isProcessing = false;
        return;
      }

      this.$bvToast.toast(`Script added!`, {
        title: "Process Info",
        toaster: "b-toaster-bottom-center",
        solid: true,
        variant: "success",
        appendToast: false,
      });

      // Clear all input data
      this.addScriptModal.name = "";
      this.addScriptModal.command = "";

      this.$nextTick(() => {
        this.isProcessing = false;
        this.$bvModal.hide("add-script-modal");
      });
    },
    /**
     * Clear all input data
     */
    clearModalData() {
      this.addScriptModal.name = "";
      this.addScriptModal.command = "";
    },
  },
};
</script>

<style lang="scss" scoped>
#scripts {
  padding: 1rem 1rem;
  .app-bar {
    width: 100%;
    height: 70px;
    background: #fdfefe;
    padding: 0 1rem;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    .page-title-container {
      font-size: 2em;
      font-weight: 300;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .right-container {
      display: flex;
      align-items: center;
      .searchbar-wrapper {
        margin-right: 2rem;
        width: 300px;
        #searchbar {
          height: 40px;
          font-weight: 300;
        }
      }

      .btn-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 45px;
        width: 45px;
        background: #3587f2;
        border-radius: 50%;

        &:hover {
          background: #385da6;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  #page-content-container {
    display: flex;
    margin-top: 2rem;
    height: calc(100vh - (70px + 4rem));
    // width: 100%;
    padding: 0 1rem;
    #script-list-container {
      height: 100%;
      width: calc(100% - 300px);
      background: #fdfefe;
      border-radius: 10px;
      padding: 1rem 2rem;
      .header {
        display: flex;
        align-items: center;
        font-weight: 500;
        height: 40px;
        .count {
          margin-left: 1rem;
          padding: 5px 15px;
          background: #3587f2;
          border-radius: 20px;
          font-weight: 300;
          font-size: 0.8em;

          color: white;
        }
      }

      .inner-content-container {
        max-height: calc(100% - 40px);
        margin: 0 !important;
        overflow-y: scroll;
      }
    }
  }
}
</style>