<template>
  <div id="settings">
    <div class="app-bar shadow-sm">
      <div class="page-title-container">Settings</div>
      <div class="right-container"></div>
    </div>

    <!-- PAGE CONTENT CONTAINER -->
    <div id="page-content-container">
      <div class="inner-content-container row">
        <b-tabs content-class="mt-3">
          <b-tab title="Setting" active>
            <div class="item-wrapper">
              <div class="text">Terminal:</div>
              <b-form-select
                style="width: 300px"
                :value="settings.terminal"
                @change="update('terminal', $event)"
                :options="terminalOptions"
              ></b-form-select>
            </div>
            <div class="item-wrapper">
              <div class="text">IDE:</div>
              <b-form-select
                style="width: 300px"
                :value="settings.ide"
                @change="update('ide', $event)"
                :options="ideOptions"
              ></b-form-select>
            </div>
            <div class="item-wrapper">
              <div class="text">Node Package Manager:</div>
              <b-form-select
                style="width: 300px"
                @change="update('node_package_manager', $event)"
                :value="settings.node_package_manager"
                :options="npmOptions"
              ></b-form-select>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Settings",
  data() {
    return {
      // settings: {
      //   ide: "",
      //   node_package_manager: "",
      // },

      ideOptions: [
        {
          value: "vscode",
          text: "Visual Studio Code",
        },
        {
          value: "atom",
          text: "Atom",
        },
      ],
      npmOptions: [
        {
          value: "yarn",
          text: "Yarn",
        },
        {
          value: "npm",
          text: "Npm",
        },
      ],
      terminalOptions: [
        {
          value: "wt",
          text: "Windows Preview Terminal",
        },
        {
          value: "cmd",
          text: "Command Prompt",
        },
      ],
    };
  },
  mounted() {},
  computed: {
    settings: function () {
      return this.$store.state.Setting.settings;
    },
  },
  methods: {
    ...mapActions("Setting", ["setSettings"]),
    update(key, value) {
      this.setSettings({ key: key, value: value });
    },
  },
};
</script>

<style lang="scss" scoped>
#settings {
  padding: 1rem 1rem;
  .app-bar {
    width: 100%;
    height: 70px;
    background: #fdfefe;
    padding: 0 1rem;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    .page-title-container {
      font-size: 2em;
      font-weight: 300;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .right-container {
      display: flex;
      align-items: center;
      .searchbar-wrapper {
        margin-right: 2rem;
        width: 300px;
        #searchbar {
          height: 40px;
          font-weight: 300;
        }
      }

      .btn-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 45px;
        width: 45px;
        background: #3587f2;
        border-radius: 50%;

        &:hover {
          background: #385da6;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  #page-content-container {
    // display: flex;
    margin-top: 2rem;
    height: calc(100vh - (70px + 4rem));
    // width: 100%;
    background: #fdfefe;
    border-radius: 10px;
    padding: 1rem 2rem;

    .inner-content-container {
      max-height: 100%;
      margin: 0 !important;
      overflow-y: scroll;

      .tabs {
        width: 100%;
      }

      .item-wrapper {
        margin-top: 1rem;
        .text {
          margin-bottom: 5px;
        }
      }
    }
  }
}
</style>