<template>
  <div id="app">
    <side-nav></side-nav>
    <div id="view-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
//test
import SideNav from "@/components/SideNav.vue";
import { mapActions } from "vuex";
export default {
  name: "artemis",
  components: {
    SideNav,
  },
  data() {
    return {};
  },
  mounted() {
    this.getSettings();
    this.getProjects();
    this.getGlobalScripts();
  },
  methods: {
    ...mapActions("Project", ["getProjects"]),
    ...mapActions("Script", ["getGlobalScripts"]),
    ...mapActions("Setting", ["getSettings"]),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffff;
}
::-webkit-scrollbar-thumb {
  background: #f0f1f2;
}
#app {
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
  display: flex;
  font-family: "Oswald", sans-serif;
  #view-container {
    width: calc(100vw - 150px);
    height: 100vh;
  }
}
</style>
